
## ----------------- Directory Paths ---------------------------

ROOTDIR=/lustre/projects/Research_Project-MRC190311
WKDIR=${ROOTDIR}/longReadSeq/ONTRNA/Project_11142_10xspatial/
REFDIR=${ROOTDIR}/references
SOFTWAREDIR=${ROOTDIR}/software


## ----------------- Raw data ----------------------------------

# Fastq data from Sequencing Services (already demultiplexed)
# Sample A = 111142_948_S1
# Sample B = 11142_1059_S2
demux_fastq=${WKDIR}/1_raw/demux_V0328/11142/

# CytAssist Image (24-bit color TIFF)
sampleA_tif=${WKDIR}/1_raw/tiff/CAVG10298_2023-11-01_12-41-59_2023-11-01_12-41-42_111111-111_A_sample.tif
sampleB_tif=${WKDIR}/1_raw/tiff/CAVG10298_2023-11-01_12-41-59_2023-11-01_12-41-42_111111-111_B_sample.tif
slideSerialNumber=V53M20-030
## A1 = 11mm capture area
areaSize=A1

# Brightfield Image
sampleA_BR_tif=${WKDIR}/1_raw/tiff/brightfield/948/OverviewBF.tif
sampleB_BR_tif=${WKDIR}/1_raw/tiff/brightfield/1059/OverviewBF.tif

# Loupe Alignment (manual output JSON file)
sampleB_loupe=${WKDIR}/1_raw/json/V53M20-030-A1-sampleB_loupeBrowser.json
sampleA_allSpots_loupe=${WKDIR}/1_raw/json/V53M20-030-A1-sampleA_loupeBrowser_allspots.json
sampleB_allSpots_loupe=${WKDIR}/1_raw/json/V53M20-030-A1-sampleB_loupeBrowser_allspots.json

## ----------------- Reference files (10X) ----------------------

# CSV file specifying the probe set used, if any
inputProbeSet=${WKDIR}/0_utils/Visium_Human_Transcriptome_Probe_Set_v2.0_GRCh38-2020-A.csv

# 10X reference 
X10Ref=${REFDIR}/spatialVisium/refdata-gex-GRCh38-2020-A/

## ----------------- Software -----------------------------------
export PATH=${SOFTWAREDIR}/spaceranger-3.0.0/:$PATH

